Repository jenkinsci/lockable-resources-plugin, pull requests merged in 2020-02, with the labels that each got.

#177 Updated README.md to add a link to the pipeline steps documentation
  README.md
Labels: chore

#174 Bugfix for Issue 172
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
Labels: bug

#182 Updating dependencies in pom.xml
  pom.xml
Labels: dependencies

#188 Import old changelog from wiki
  CHANGELOG.old.md
  README.md
Labels: chore

#183 Removing usage of deprecated APIs in LockStep and LockStepExecution
  src/main/java/org/jenkins/plugins/lockableresources/LockStep.java
  src/main/java/org/jenkins/plugins/lockableresources/LockStepExecution.java
Labels: chore
