Repository jenkinsci/lockable-resources-plugin, pull requests merged in 2021-03, with the labels that each got.

#233 Update plugin metadata for 2021
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  .mvn/extensions.xml
  Jenkinsfile
  pom.xml
Labels: chore

#238 lockable-resources.js: URI-encode the resource name to make a button …
  src/main/webapp/js/lockable-resources.js
Labels: bug

#239 Miscellaneous code cleanup
  src/main/java/org/jenkins/plugins/lockableresources/BackwardCompatibility.java
  src/main/java/org/jenkins/plugins/lockableresources/LockStepExecution.java
  src/main/java/org/jenkins/plugins/lockableresources/LockStepResource.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResource.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
  src/main/java/org/jenkins/plugins/lockableresources/RequiredResourcesProperty.java
  src/main/java/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction.java
  src/main/java/org/jenkins/plugins/lockableresources/actions/LockedResourcesBuildAction.java
  src/main/java/org/jenkins/plugins/lockableresources/actions/ResourceVariableNameAction.java
  src/main/java/org/jenkins/plugins/lockableresources/queue/LockRunListener.java
  src/main/java/org/jenkins/plugins/lockableresources/queue/LockableResourcesCandidatesStruct.java
  src/main/java/org/jenkins/plugins/lockableresources/queue/LockableResourcesQueueTaskDispatcher.java
  src/main/java/org/jenkins/plugins/lockableresources/queue/LockableResourcesStruct.java
  src/main/java/org/jenkins/plugins/lockableresources/queue/QueuedContextStruct.java
  src/main/java/org/jenkins/plugins/lockableresources/queue/Utils.java
  src/main/java/org/jenkins/plugins/lockableresources/util/SerializableSecureGroovyScript.java
  src/test/java/org/jenkins/plugins/lockableresources/ConfigurationAsCodeTest.java
  src/test/java/org/jenkins/plugins/lockableresources/FreeStyleProjectTest.java
  src/test/java/org/jenkins/plugins/lockableresources/InteroperabilityTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepWithRestartTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockableResourceApiTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockableResourceRootActionSEC1361Test.java
  src/test/java/org/jenkins/plugins/lockableresources/TestHelpers.java
Labels: skip-changelog
