Repository jenkinsci/lockable-resources-plugin, pull requests merged in 2022-02, with the labels that each got.

#144 Add a Reassign button for reserved resources (addresses issue #142) and a "steal lock" functionality for locked ones
  src/main/java/org/jenkins/plugins/lockableresources/LockStepExecution.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResource.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
  src/main/java/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction.java
  src/main/resources/org/jenkins/plugins/lockableresources/Messages.properties
  src/main/resources/org/jenkins/plugins/lockableresources/Messages_fr.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index.jelly
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockedResourcesBuildAction/index.jelly
Labels: enhancement

#227 Added button to copy resource name to clipboard
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index.jelly
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index.properties
Labels: enhancement

#171 Implement candidate-cache for resource-selection to prevent performance-regression
  src/main/java/org/jenkins/plugins/lockableresources/LockableResource.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepHardKillTest.java
Labels: enhancement

#294 Set a numbered variable for each acquired lock
  README.md
  src/main/java/org/jenkins/plugins/lockableresources/LockStepExecution.java
  src/main/java/org/jenkins/plugins/lockableresources/actions/ResourceVariableNameAction.java
  src/main/java/org/jenkins/plugins/lockableresources/queue/LockRunListener.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepTest.java
Labels: enhancement, got conflicts, variables exposed by lock actions

#301 Maintain lock ordering when reporting in environment variables
  src/main/java/org/jenkins/plugins/lockableresources/LockStepExecution.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
  src/main/java/org/jenkins/plugins/lockableresources/queue/LockRunListener.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepTest.java
Labels: variables exposed by lock actions
