Repository jenkinsci/lockable-resources-plugin, pull requests merged in 2022-12, with the labels that each got.

#423 Switch action icon to lock symbol
  src/main/java/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction.java
  src/main/webapp/img/device.svg
Labels: ui

#427 eliminate SemaphoreStep to make the tests more stable (faster)
  src/test/java/org/jenkins/plugins/lockableresources/LockStepHardKillTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepTest.java
Labels: chore, java, skip-changelog, internal, test

#432 Remove unnecessary dependency
  pom.xml
Labels: dependencies

#418 Export hardcoded java errors into properties
  src/main/java/org/jenkins/plugins/lockableresources/LockStep.java
  src/main/java/org/jenkins/plugins/lockableresources/LockStepResource.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResource.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
  src/main/java/org/jenkins/plugins/lockableresources/RequiredResourcesProperty.java
  src/main/java/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction.java
  src/main/resources/org/jenkins/plugins/lockableresources/Messages.properties
  src/test/java/org/jenkins/plugins/lockableresources/LockStepTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockableResourceManagerTest.java
Labels: skip-changelog, internal, localization, megre in 24 hours without review
