Repository jenkinsci/lockable-resources-plugin, pull requests merged in 2022-11, with the labels that each got.

#376 add Report an Issue link in the README.md
  README.md
Labels: skip-changelog, documentation, Modernize plugin, hacktoberfest-accepted

#383 deactivate jdk8 in plugin test cases
  CONTRIBUTING.md
  Jenkinsfile
  pom.xml
Labels: dependencies, documentation

#384 Localization status and contribution rules.
  CONTRIBUTING.md
  README.md
Labels: skip-changelog, internal, documentation

#359 Enable additional spotbugs checks to improve the static analysis checks of the plugin
  pom.xml
  src/main/java/org/jenkins/plugins/lockableresources/LockStepExecution.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResource.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
  src/main/java/org/jenkins/plugins/lockableresources/queue/LockRunListener.java
  src/main/java/org/jenkins/plugins/lockableresources/queue/LockableResourcesStruct.java
  src/test/java/org/jenkins/plugins/lockableresources/util/SerializableSecureGroovyScriptTest.java
Labels: skip-changelog, test, Modernize plugin

#367 Extend tests
  src/main/java/org/jenkins/plugins/lockableresources/BackwardCompatibility.java
  src/main/java/org/jenkins/plugins/lockableresources/ExcludeFromJacocoGeneratedReport.java
  src/main/java/org/jenkins/plugins/lockableresources/LockStepResource.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResource.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
  src/main/java/org/jenkins/plugins/lockableresources/RequiredResourcesProperty.java
  src/main/java/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction.java
  src/main/java/org/jenkins/plugins/lockableresources/queue/LockableResourcesStruct.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepWithRestartTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockableResourceManagerTest.java
Labels: enhancement, java, skip-changelog, internal, test

#395 Update documentation
  CONTRIBUTING.md
  README.md
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_af.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_ar.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_ca.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_da.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_el.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_en.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_es.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_fi.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_he.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_hu.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_it.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_ja.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_ko.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_nl.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_no.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_pl.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_pt.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_ro.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_ru.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_sr.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_sv.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_tr.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_uk.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_vi.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_zh.properties
Labels: documentation

#400 Enable automatic release on merge to master
  .github/release-drafter.yml
  .github/workflows/cd.yaml
  .github/workflows/release-drafter.yml
  .mvn/maven.config
  pom.xml
Labels: enhancement

#406 doc: Update readme with Gitter channel link
  README.md
Labels: documentation

#405 Join Gitter channel to discuss your ideas with the community
  README.md
Labels: documentation

#396 Improve translations
  src/main/resources/org/jenkins/plugins/lockableresources/LockStep/config_cs.properties
  src/main/resources/org/jenkins/plugins/lockableresources/LockableResourcesManager/config_cs.properties
  src/main/resources/org/jenkins/plugins/lockableresources/Messages_cs.properties
  src/main/resources/org/jenkins/plugins/lockableresources/Messages_fr.properties
  src/main/resources/org/jenkins/plugins/lockableresources/Messages_sk.properties
  src/main/resources/org/jenkins/plugins/lockableresources/RequiredResourcesProperty/config_cs.properties
  src/main/resources/org/jenkins/plugins/lockableresources/RequiredResourcesProperty/config_sk.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_af.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_ar.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_ca.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_cs.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_da.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_de.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_el.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_en.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_es.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_fi.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_fr.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_he.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_hu.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_it.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_ja.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_ko.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_nl.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_no.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_pl.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_pt.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_ro.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_ru.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_sk.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_sr.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_sv.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_tr.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_uk.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_vi.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index_zh.properties
Labels: skip-changelog, localization

#403 Add more examples
  PULL_REQUEST_TEMPLATE.md
  README.md
  src/doc/examples/lock-nodes.md
  src/doc/examples/locking-multiple-stages-in-declarative-pipeline
  src/doc/examples/readme.md
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index.properties
Labels: documentation

#421 Rename example file to avoid 404 and also for consistency
  src/doc/examples/locking-multiple-stages-in-declarative-pipeline.md
Labels: documentation
