Repository jenkinsci/lockable-resources-plugin, pull requests merged in 2023-12, with the labels that each got.

#592 Print detailed lock cause in build log
  README.md
  src/main/java/org/jenkins/plugins/lockableresources/LockableResource.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
  src/main/java/org/jenkins/plugins/lockableresources/queue/LockableResourcesStruct.java
  src/main/java/org/jenkins/plugins/lockableresources/queue/QueuedContextStruct.java
  src/main/java/org/jenkins/plugins/lockableresources/util/Constants.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepTest.java
Labels: enhancement, java, documentation, log messages, test, megre in 24 hours without review, ready for review, Merged without review !

#590 Allow to show ALL items in the tables
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableLabels/table.jelly
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableLabels/table.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableQueue/table.jelly
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableQueue/table.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableResources/table.jelly
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableResources/table.properties
Labels: enhancement, ui, localization, megre in 24 hours without review, ready for review, Merged without review !

#586 Eliminate ConcurrentModificationException on plugin load (Jenkins startup)
  src/main/java/org/jenkins/plugins/lockableresources/BackwardCompatibility.java
  src/main/java/org/jenkins/plugins/lockableresources/FreeDeadJobs.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResource.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
  src/main/java/org/jenkins/plugins/lockableresources/nodes/NodesMirror.java
  src/test/java/org/jenkins/plugins/lockableresources/ConcurrentModificationExceptionTest.java
Labels: bug, java, log messages, resource conflicts or cleanup handled poorly, parallelism and races, test, megre in 24 hours without review, lock Jenkins node, ready for review

#593 Update developers list
  pom.xml
Labels: chore, internal

#596 The resource index is mandatory to access the resource properties, even if only one resource was locked.
  README.md
Labels: documentation
