Repository jenkinsci/lockable-resources-plugin, pull requests merged in 2023-06, with the labels that each got.

#518 Try to fix parallelLockWithLabelFillsVariable
  src/test/java/org/jenkins/plugins/lockableresources/LockStepTest.java
Labels: chore, skip-changelog, test, megre in 24 hours without review, ready for review

#515 Mini test fix
  src/test/java/org/jenkins/plugins/lockableresources/NodesMirrorTest.java
Labels: chore, skip-changelog, test, megre in 24 hours without review, ready for review

#519 Refresh plugin for June 2023
  Jenkinsfile
  pom.xml
  src/test/java/org/jenkins/plugins/lockableresources/InteroperabilityTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockableResourceApiTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockableResourceRootActionSEC1361Test.java
  src/test/java/org/jenkins/plugins/lockableresources/TestHelpers.java
Labels: chore, skip-changelog, internal, test

#517 Free lockable-resource assigned to dead builds
  src/main/java/org/jenkins/plugins/lockableresources/FreeDeadJobs.java
Labels: enhancement, java, ready for review

#524 Add properties to readResolve() (Fixes #507)
  src/main/java/org/jenkins/plugins/lockableresources/LockableResource.java
Labels: bug, java

#525 Fix resource index column
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableResources/table.jelly
Labels: bug, ui
