Repository jenkinsci/lockable-resources-plugin, pull requests merged in 2023-01, with the labels that each got.

#440 It is no more possible to read resource-labels generated in the release 1102.vde5663d777cf
  README.md
Labels: documentation, megre in 24 hours without review, deprecated

#424 Use Jenkins design library tables and colors
  src/main/java/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction.java
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableLabels/table.jelly
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableResources/table.jelly
  src/main/webapp/css/style.css
Labels: enhancement, ui

#441 Scripted vs declarative pipeline
  src/doc/examples/locking-multiple-stages-in-declarative-pipeline.md
  src/doc/examples/readme.md
  src/doc/examples/scripted-vs-declarative-pipeline.md
  src/main/resources/org/jenkins/plugins/lockableresources/LockStep/help-inversePrecedence.html
  src/main/resources/org/jenkins/plugins/lockableresources/LockStep/help-label.html
  src/main/resources/org/jenkins/plugins/lockableresources/LockStep/help-quantity.html
  src/main/resources/org/jenkins/plugins/lockableresources/LockStep/help-resource.html
  src/main/resources/org/jenkins/plugins/lockableresources/LockStep/help-skipIfLocked.html
  src/main/resources/org/jenkins/plugins/lockableresources/LockStep/help-variable.html
  src/main/resources/org/jenkins/plugins/lockableresources/LockStepResource/help-label.html
  src/main/resources/org/jenkins/plugins/lockableresources/LockStepResource/help-quantity.html
  src/main/resources/org/jenkins/plugins/lockableresources/LockStepResource/help-resource.html
Labels: documentation, megre in 24 hours without review

#412 Added declarative pipeline example
  README.md
Labels: documentation

#438 Strategy to lock random free resource
  CONTRIBUTING.md
  src/doc/examples/lock-nodes.md
  src/doc/examples/locking-random-free-resource.md
  src/doc/examples/readme.md
  src/main/java/org/jenkins/plugins/lockableresources/LockStep.java
  src/main/java/org/jenkins/plugins/lockableresources/LockStepExecution.java
  src/main/java/org/jenkins/plugins/lockableresources/LockStepResource.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
  src/main/java/org/jenkins/plugins/lockableresources/ResourceSelectStrategy.java
  src/main/resources/org/jenkins/plugins/lockableresources/LockStep/config.jelly
  src/main/resources/org/jenkins/plugins/lockableresources/LockStep/config.properties
  src/main/resources/org/jenkins/plugins/lockableresources/LockStep/help-resourceSelectStrategy.html
  src/main/resources/org/jenkins/plugins/lockableresources/Messages.properties
  src/test/java/org/jenkins/plugins/lockableresources/LockStepTest.java
Labels: enhancement, java, lock queue priority and visibility, ui, documentation, resource labels enhancement

#449 Use nav-tabs in the resources page
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index.jelly
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/index.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableLabels/table.jelly
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableLabels/table.properties
Labels: enhancement, ui, localization

#451 Eliminate multiplicate code in LockableResourcesRootAction
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
  src/main/java/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction.java
Labels: java, skip-changelog, internal
