Repository jenkinsci/lockable-resources-plugin, pull requests merged in 2023-04, with the labels that each got.

#474 Remember search text in tables
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableLabels/table.jelly
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableQueue/table.jelly
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableResources/table.jelly
Labels: enhancement, dependencies, ui

#489 Upgrade plugin parent POM from 4.59 to 4.60
  pom.xml
Labels: chore

#486 Enable Jenkins node (agent) mirroring into lockable-resource
  README.md
  src/main/java/org/jenkins/plugins/lockableresources/BackwardCompatibility.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResource.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
  src/main/java/org/jenkins/plugins/lockableresources/nodes/NodesMirror.java
  src/main/java/org/jenkins/plugins/lockableresources/util/Constants.java
  src/test/java/org/jenkins/plugins/lockableresources/NodesMirrorTest.java
Labels: enhancement, java, documentation, test, lock Jenkins node

#492 Tests for declarative pipeline
  pom.xml
  src/test/java/org/jenkins/plugins/lockableresources/DeclarativePipelineTest.java
Labels: test
