Repository jenkinsci/lockable-resources-plugin, pull requests merged in 2024-09, with the labels that each got.

#695 Use unix time of the timestamp for data-order.
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableResources/table.jelly
Labels: bug, ui

#673 Improve lockable-resources build (job) page
  src/main/java/org/jenkins/plugins/lockableresources/LockStepExecution.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResource.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
  src/main/java/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction.java
  src/main/java/org/jenkins/plugins/lockableresources/actions/LockedResourcesBuildAction.java
  src/main/java/org/jenkins/plugins/lockableresources/queue/LockRunListener.java
  src/main/resources/org/jenkins/plugins/lockableresources/Messages.properties
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockedResourcesBuildAction/index.jelly
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockedResourcesBuildAction/index.properties
  src/test/java/org/jenkins/plugins/lockableresources/LockStepTest.java
  src/test/java/org/jenkins/plugins/lockableresources/PressureTest.java
Labels: enhancement, java, lock queue priority and visibility, ui, localization, ready for review, Merged without review !

#650 Reserved resources available again after reloading CasC configuration
  README.md
  src/main/java/org/jenkins/plugins/lockableresources/LockableResource.java
  src/main/resources/org/jenkins/plugins/lockableresources/LockableResource/config.jelly
  src/main/resources/org/jenkins/plugins/lockableresources/LockableResource/config.properties
  src/main/resources/org/jenkins/plugins/lockableresources/LockableResource/config_cs.properties
  src/main/resources/org/jenkins/plugins/lockableresources/LockableResource/config_de.properties
  src/main/resources/org/jenkins/plugins/lockableresources/LockableResource/config_fr.properties
  src/main/resources/org/jenkins/plugins/lockableresources/LockableResource/config_sk.properties
  src/test/java/org/jenkins/plugins/lockableresources/ConfigurationAsCodeTest.java
  src/test/resources/org/jenkins/plugins/lockableresources/casc_expected_output.yml
  src/test/resources/org/jenkins/plugins/lockableresources/configuration-as-code.yml
Labels: bug, Merged without review !

#711 Revert "Reserved resources available again after reloading CasC configuration"
  README.md
  src/main/java/org/jenkins/plugins/lockableresources/LockableResource.java
  src/main/resources/org/jenkins/plugins/lockableresources/LockableResource/config.jelly
  src/main/resources/org/jenkins/plugins/lockableresources/LockableResource/config.properties
  src/main/resources/org/jenkins/plugins/lockableresources/LockableResource/config_cs.properties
  src/main/resources/org/jenkins/plugins/lockableresources/LockableResource/config_de.properties
  src/main/resources/org/jenkins/plugins/lockableresources/LockableResource/config_fr.properties
  src/main/resources/org/jenkins/plugins/lockableresources/LockableResource/config_sk.properties
  src/test/java/org/jenkins/plugins/lockableresources/ConfigurationAsCodeTest.java
  src/test/resources/org/jenkins/plugins/lockableresources/casc_expected_output.yml
  src/test/resources/org/jenkins/plugins/lockableresources/configuration-as-code.yml
Labels: bug, breaking
