Repository jenkinsci/lockable-resources-plugin, pull requests merged in 2024-04, with the labels that each got.

#648 Remove `basil` from `<developers>`
  pom.xml
Labels: skip-changelog

#649 Reduce some verbose log levels
  src/main/java/org/jenkins/plugins/lockableresources/LockStepExecution.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
Labels: chore

#642 Adapt plugin for Data Table API 2.0.x
  pom.xml
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableLabels/table.jelly
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableQueue/table.jelly
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableResources/table.jelly
  src/test/java/org/jenkins/plugins/lockableresources/LockStepTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepTest_manualUnreserveUnblocksJob.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepWithRestartTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockableResourceApiTest.java
  src/test/java/org/jenkins/plugins/lockableresources/TestHelpers.java
Labels: bug, ui

#653 Backport of #642 to 2.426.x
  pom.xml
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableLabels/table.jelly
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableQueue/table.jelly
  src/main/resources/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction/tableResources/table.jelly
  src/test/java/org/jenkins/plugins/lockableresources/LockStepTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepTest_manualUnreserveUnblocksJob.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepWithRestartTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockableResourceApiTest.java
  src/test/java/org/jenkins/plugins/lockableresources/TestHelpers.java
Labels: chore
