Repository jenkinsci/lockable-resources-plugin, pull requests merged in 2024-02, with the labels that each got.

#626 ConcurrentModificationException-at-LockedResourcesBuildAction
  src/main/java/org/jenkins/plugins/lockableresources/actions/LockedResourcesBuildAction.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepWithRestartTest.java
Labels: bug, java, resource conflicts or cleanup handled poorly, parallelism and races, megre in 24 hours without review, ready for review

#630 Make resource allocation warning more clear
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
Labels: chore, java, log messages

#629 ConcurrentModificationException on plugin start (reload)
  src/main/java/org/jenkins/plugins/lockableresources/FreeDeadJobs.java
Labels: bug, java, resource conflicts or cleanup handled poorly, Need test, Merged without review !
