Repository jenkinsci/lockable-resources-plugin, pull requests merged in 2024-01, with the labels that each got.

#599 NPE during the release of a lock
  src/main/java/org/jenkins/plugins/lockableresources/actions/LockedResourcesBuildAction.java
Labels: bug, java, megre in 24 hours without review, ready for review

#601 Eliminate ConcurrentModificationException by UI operations
  src/main/java/org/jenkins/plugins/lockableresources/LockableResource.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResources.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
  src/main/java/org/jenkins/plugins/lockableresources/RequiredResourcesProperty.java
  src/main/java/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction.java
  src/test/java/org/jenkins/plugins/lockableresources/LockableResourceManagerTest.java
  src/test/java/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootActionTest.java
Labels: bug, java, API interactions, documentation, parallelism and races, megre in 24 hours without review, ready for review

#600 Name and value of properties are missing on API
  src/main/java/org/jenkins/plugins/lockableresources/LockableResource.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourceProperty.java
Labels: bug, java, API interactions, ready for review, Merged without review !

#606 Only run GitHub actions in jenkinsci GitHub org
  .github/workflows/crowdin.yml
Labels: chore

#603 ResourceSelectStrategy
  src/main/java/org/jenkins/plugins/lockableresources/LockStepExecution.java
Labels: chore, java, skip-changelog

#604 Eliminate ConcurrentModificationException in free style projects
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
  src/main/java/org/jenkins/plugins/lockableresources/queue/LockRunListener.java
Labels: bug, java, parallelism and races, ready for review

#602 Autocompletion
  src/main/java/org/jenkins/plugins/lockableresources/RequiredResourcesProperty.java
Labels: chore, java, skip-changelog, megre in 24 hours without review, ready for review

#558 Improve performance, eliminate ConcurrentModificationException and eliminate stucks
  src/main/java/org/jenkins/plugins/lockableresources/LockStepExecution.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
  src/main/java/org/jenkins/plugins/lockableresources/queue/LockableResourcesCandidatesStruct.java
  src/main/java/org/jenkins/plugins/lockableresources/queue/LockableResourcesStruct.java
  src/main/java/org/jenkins/plugins/lockableresources/queue/QueuedContextStruct.java
  src/test/java/org/jenkins/plugins/lockableresources/ConfigurationAsCodeTest.java
  src/test/java/org/jenkins/plugins/lockableresources/InteroperabilityTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepHardKillTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepTest_manualUnreserveUnblocksJob.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepTest_reserveInsideLockHonoured.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepTest_setReservedByInsideLockHonoured.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepWithRestartTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockableResourceManagerTest.java
  src/test/java/org/jenkins/plugins/lockableresources/PressureTest.java
Labels: bug, java, log messages, resource conflicts or cleanup handled poorly, parallelism and races, test, ready for review

#609 Fix-possible-npe-in-get-queue
  src/main/java/org/jenkins/plugins/lockableresources/queue/QueuedContextStruct.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepHardKillTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepTest.java
  src/test/java/org/jenkins/plugins/lockableresources/LockStepWithRestartTest.java
Labels: bug, java, parallelism and races, test, ready for review, Merged without review !

#616 Reduce verbose log levels
  src/main/java/org/jenkins/plugins/lockableresources/LockStepExecution.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
Labels: chore, java, skip-changelog, internal, log messages

#618 Modernize string operations
  src/main/java/org/jenkins/plugins/lockableresources/LockStepExecution.java
  src/main/java/org/jenkins/plugins/lockableresources/LockableResourcesManager.java
  src/main/java/org/jenkins/plugins/lockableresources/RequiredResourcesProperty.java
  src/main/java/org/jenkins/plugins/lockableresources/actions/LockableResourcesRootAction.java
  src/test/java/org/jenkins/plugins/lockableresources/PressureTest.java
Labels: chore, java, internal
